@import "tailwindcss";

:root {
  --background: #f8fafc; /* Hafif grimsi beyaz */
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* Kartlar için özel gölge */
.market-card {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}