@import "tailwindcss";

:root {
  --background: #02040a;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* @apply yerine standart CSS kullanalım linter hatası bitsin */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}